.gitattributes
docs
bench
.gitignore
.npmignore
.gitmodules
node_modules
lib/binding
build
test
benchmark
configure
Makefile
.travis.yml
appveyor.yml
examples
tools
vcbuild.bat
sdk
package/src/mapnik_.cpp
package/src/mapnik_.hpp
*tgz
foo
iwyu.sh
documentation
package
__nvm
mason
mason_packages/*
mason_packages/.binaries/*
mason_packages/.binaries/linux-x86_64/*
mason_packages/.binaries/osx-x86_64/*
!mason_packages/.binaries/linux-x86_64/mapnik/bdfa1e882.tar.gz
!mason_packages/.binaries/osx-x86_64/mapnik/bdfa1e882.tar.gz
mason_packages/.link/*
mason_packages/.link/bin/*
!mason_packages/.link/bin/mapnik-config
deps/wagyu/tests
deps/wagyu/docs
deps/geometry/tests
.toolchain
local-postgres
deps/protozero/test
.mason
mason-postgis-config.env
local.env
postgres.log
